<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findPW</title>
    <link rel="stylesheet" , href="../../asset/css/login/findPW.css">
</head>

<body class="findPW">
    <div class="container">
        <div class="logo">
            <img src="../../asset/image/forest.png" class="logo_title"/>
        </div>
        <div class="title_name" style="float: left;">
            <p>비밀번호 찾기</p>
        </div>
        <div class="PW_check">
            <h4 class="PW_user">가입 시 입력하신 이메일, 닉네임을 통해 찾으실 수 있습니다.</h4>
        </div>
        <div class="line">
            <img src="../../asset/image/line.png"
                style="margin-left: 20px; margin-right:20px; margin-top: 15px; width: 360px; height: 1.5px;">
        </div>
        <form action="#" method="post">
            <input type="text" name="user_email" class="text_frame" placeholder="이메일">
            <input type="text" name="user_nickname" class="text_frame" placeholder="닉네임">
            <input type="submit" value="비밀번호 찾기" class="findPW_btn">
        </form>
        <p class="password_links">
            <a href="resetPW.html">비밀번호 변경 | </a>
            <a href="login.html">로그인 페이지</a>
        </p>
    </div>
</body>

</html>