<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findID</title>
    <link rel="stylesheet" , href="../../asset/css/login/findID.css">
</head>

<body class="findID">
    <div class="container">
        <div class="logo">
            <img src="../../asset/image/forest.png" class="logo_title"/>
        </div>
        <div class="title_name" style="float: left;">
            <p>아이디 찾기</p>
        </div>
        <div class="ID_check">
            <h4 class="ID_user">가입 시 입력하신 닉네임, 소속을 통해 찾으실 수 있습니다.</h4>
        </div>
        <div class="line">
            <img src="../../asset/image/line.png"
                style="margin-left: 20px; margin-right:20px; margin-top: 15px; width: 360px; height: 1.5px;">
        </div>
        <form action="#" method="post">
            <input type="text" name="user_nickname" class="text_frame" placeholder="닉네임">
            <input type="text" name="user_group" class="text_frame" placeholder="소속">
            <input type="submit" value="아이디 찾기" class="findID_btn">
        </form>
        <p class="login_links">
            <a href="login.html">로그인 페이지</a>
        </p>
    </div>
</body>

</html>