<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resetPW</title>
    <link rel="stylesheet" , href="../../asset/css/login/resetPW.css">
</head>

<body class="findPW">
    <div class="container">
        <div class="logo">
            <img src="../../asset/image/forest.png" class="logo_title"/>
        </div>
        <div class="title_name" style="float: left;">
            <p>비밀번호 변경</p>
        </div>
        <div class="PW_check">
            <h4 class="PW_user">새로운 비밀번호를 입력하여 변경해주세요.</h4>
        </div>
        <div class="line">
            <img src="../../asset/image/line.png"
                style="margin-left: 20px; margin-right:20px; margin-top: 15px; width: 360px; height: 1.5px;">
        </div>
        <form action="#" method="post">
            <input type="text" name="old_pw" class="text_frame" placeholder="현재 비밀번호">
            <input type="text" name="new_pw" class="text_frame" placeholder="새 비밀번호">
            <input type="text" name="new_pw" class="text_frame" placeholder="새 비밀번호 확인">
            <input type="submit" value="비밀번호 변경" class="resetPW_btn">
        </form>
        <p class="password_links">
            <a href="findPW.html">비밀번호 찾기 | </a>
            <a href="login.html">로그인 페이지</a>
        </p>
    </div>
</body>

</html>