body{
    background-color: #e5e5e5;
}
.intro{
    position: absolute;
    margin-top: 10%;
    width: calc(100% - 300px);
    text-align:center;
    margin-right: 300px;
    min-width: 510px;
}
#intro_1{
    font-weight: 500;
    font-size: 28px;
}
#intro_2{
    font-weight: 450;
    font-size: 23px;
}

.system_info{
    min-width: 510px;
    margin-top: 10%;
}

.system_info > *{
    font-size:20px;
    display: inline-block;
}

.nav{
    text-align: center;
    padding: 70px 30px 80px 30px;
    float: right;
    width: 300px;
    max-width: 300px;
    background-color: white;
    border-radius: 20px;
    margin: 50px 40px 30px 50px;
    height: 100%;
}

@media(max-width: 1100px){
    .intro{
        width: 100%;
    }
    .nav{
        width: 100%;
        margin-top: 500px;
    }
}
.user{
    background-color: white;
    margin-top: 50px;
    padding: 0 10px;
}

#signin_btn{
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    height: 50px;
    background-color:F4F4F4;
    border-radius: 10px;
    border-style: none;
}

#signup_btn{
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #3F3F3F;
    color: white;
    border-radius: 12px;
    border-style: none;
}

a{
    text-decoration: none;
    outline-style: none;
    color: black;
}
#search{
    text-align:left;
    margin-top: 60px;
}
#search_query{
    float: left;
    border-style: none;
    width: 70%;
    height: 30px;
    background-color: #e5e5e5;
    border-radius: 50px;
    padding: 2px 10px;
}
#search_btn{
    width: 20%;
    float: right;
    background-color: #3F3F3F;
    border-radius: 10px;
    height: 34px;
    color: white;
    border-style: none;
}
#latelyQ_btn{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 18px;
    height: 50px;
    background-color:F4F4F4;
    border-radius: 10px;
    border-style: none;
}