@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


.agreement_page{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #000000;
}