@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

HTML, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, caption, tbody, tfoot, thead, tr, th,  td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, 
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
    content:'';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

a{
    text-decoration: none;
    color:#000000;
}


.modification{
    width: 100%;
    height: 1024px;
    background-color: #E5E5E5;
}

.container{
    height: 850px;
    width: 1300px;
    border-radius: 12px;
    background-color: white;
    margin: 0 auto;
    margin-top: 70px;
    box-shadow: 5px 5px 3px #B8B8B8;
}

.user_image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 550px;
}

.image_button{
    padding: 5px;
    height: 15px;
    width: 90px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    color:white;
    background-color: #3F3F3F;
    border-radius: 5px;
    margin-left: 600px;
}

label{
    cursor:pointer;
    font-size: 1em;
}

#click_image{
    visibility: hidden;
}

.list_name{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-weight: 700;
    font-size: 16px;
    color: #838383;
    margin-top: 30px;
    margin-left: 420px;
}

.user_id{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    margin-top:10px;
    margin-left:211px;
}

.list_blank{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    height: 16px;
    width: 400px;
    margin-left: 420px;
    font-size: 16;
    margin-top: 10px;
    border : 2px solid #A9A9A9;
    border-radius: 5px;
    padding: 10px
}

.text_input{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    height: 16px;
    width: 405px;
    margin-left: 30px;
    font-size: 16;
    margin-top: 30px;
    border : 2px solid #A9A9A9;
    border-radius: 5px;
    padding: 10px
}


.pw_info{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 423px;
    color:#B8B8B8;
}

.warn_info{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 423px;
    color:#ff2c2c;
}


.save_btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 200px;
    background-color: #5A5A5A;
    width:425px;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-left: 420px;
    padding:20px;
    border:none;
    border-radius: 5px;
}

