body {
    background-color: #e5e5e5;
    min-width: 1250px;
}
*{
    padding: 0;
    margin: 0;
}

code, pre, .code-font {
    font-family: Consolas, Courier New, monospace;
    font-size: 13px;
}


.answer-content{
    margin: 40px 10px 10px 10px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

td {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 20px;
}

#logoutform{
    float: left;
}

#wrap{
    margin: 30px 40px;
}

#contents, #boardInfo{
    margin-left: 400px;
    min-width: 880px;
}

#boardInfo{
    font-size: 20px;
    margin-bottom: 10px;
}

.postss{
    padding: 20px;
    padding-bottom: 40px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 12px;
}

#contents{
    overflow: auto;
    width: calc(100%-400px);
    height: min-content;
    border-radius: 20px;
    text-align: left;
}
.post_info{
    width: 100%;
}
.post_title {
    vertical-align: bottom;
    float: left;
    margin-left: 10px;
    width: 80%;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;   /*줄간격*/
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp: 2;  /*보여줄 줄 개수*/
    -webkit-box-orient: vertical;
}

.post_writer{
    float: left;
    margin-left: 10px;
    width: 30%;
    font-size: 15px;
    color: #A1A1A1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.post_time{
    float: right;
}

.withcode{
    float:right;
    width: 10%;
    height: fit-content;;
    width:fit-content;
    background-color:#A1A1A1;
    padding:2px;
    border-radius:8px;
}

.post_content{
    width: calc(100%-40px);
    margin-top: 80px;
    overflow: hidden;
    line-height: 1.2;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    background-color: #e5e5e5;
    border-radius:12px;
    padding: 20px;
}

.scrapstar{
    float: left;
    width: 25px; 
    height: 25px; 
    margin-top: 5px;
}

.scrapedNo{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}
/*menu*/
#menuList{
    background-color: white;
    width: 300px;
    position: absolute;
    margin-top: 100px;
    overflow: auto;
    border-radius: 13px;
    box-shadow: 1px 0px 8px 1px rgba(68, 57, 57, 1);
    padding: 30px;
}
#hamburger_menu {
    list-style: none;
}
#toHome, #recentlyAsked, #postQuest, #posts{
    overflow: hidden;
    width: 100%;
}
.menu_icon{
    margin-top: 15px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    float: left;
}
.bigMenu{
    line-height: 3;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}