<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>마이페이지 - 내가 질문한 글 / 내가 답변한 글</title>
	<link rel="stylesheet" href="../../asset/css/myPageDetails.css">

</head>
<body>
	<header>
		<div class="headerbox">
			<button class="menu" type="submit"><img src="menu.png" style="position:absolute; width: 34px; height: 34px; margin-top: -16px; margin-left: -16px;">
			<input type="search" placeholder="  검색어 입력">
			<button class="searchButton" type="button">
				search
			</button>
			<img class="profile" src="1.jpg" style="margin-left: 950px;">
			<p style="position : relative; margin-left: 1110px; margin-top: -25px;">수룡dldldldl이</p>
			<button class="logoutButton" type="button">
				로그아웃
			</button>

		</div>
		<div class="bulletin">
			<img src="home.png" width="35px" height="35px" style="margin-left: 10px; margin-top: 5px;">
			<p style="margin-top: -30px; margin-left: 80px;">마이페이지 - <span>내가 질문한 글 / 내가 답변한 글</span></p>
		</div>
		
	</header>

	<div class="box1-group">
		<span class ="box1">
			<img class="profile" src="1.jpg" style=" border-radius: 8px; margin-left: 5px; margin-top: 5px;">
			<div style="display: inline-block; margin-left: 70px; ">
				<h3 style="position:relative; margin-top:6px; font-size: 24px;">
					질문 제목이 제목제목<small style="position:relative; display: block; font-size: 14px; font-weight: normal; color: grey;">사용자 이름이름<span>  |   20200202</span></small>
				</h3>
			</div>
			
			<p class="question">제가 언어를 처음 배우는데, 이렇게 코드를 작성했더니 오류가 나요. 왜이러는 걸까요?
				내용이 길어지는 경우는 이렇게 처리하면 될 것 같긴 한데 아무래도 틀렸나 봅니다 도움 구해봅니다!
			</p>

			<div>
				<img style="position:absolute; display: inline-block; width: 25px; height: 25px; margin-top:90px; margin-left: 5px;" src="Plain_Yellow_Star.png">
				<p style="position:absolute; display:inline-block; color:#c1ba00; font-size: 20px; margin-top: 88px; margin-left: 35px;">
					86
				</p>
			</div>
		
		</span>

		<span class ="box1" style="margin-left: 15px;">
			<img class="profile" src="1.jpg" style=" border-radius: 8px; margin-left: 5px; margin-top: 5px;">
			<div style="display: inline-block; margin-left: 70px; ">
				<h3 style="position:relative; margin-top:6px; font-size: 24px;">
					질문 제목이 제목제목<small style="position:relative; display: block; font-size: 14px; font-weight: normal; color: grey;">사용자 이름이름<span>  |   20200202</span></small>
				</h3>
			</div>
			
			<p class="question">제가 언어를 처음 배우는데, 이렇게 코드를 작성했더니 오류가 나요. 왜이러는 걸까요?
				내용이 길어지는 경우는 이렇게 처리하면 될 것 같긴 한데 아무래도 틀렸나 봅니다 도움 구해봅니다!
			</p>

			<div>
				<img style="position:absolute; display: inline-block; width: 25px; height: 25px; margin-top:90px; margin-left: 5px;" src="Plain_Yellow_Star.png">
				<p style="position:absolute; display:inline-block; color:#c1ba00; font-size: 20px; margin-top: 88px; margin-left: 35px;">
					86
				</p>
			</div>
		
		</span>
		
		<span class ="box1" style="margin-left: 15px;">
			<img class="profile" src="1.jpg" style=" border-radius: 8px; margin-left: 5px; margin-top: 5px;">
			<div style="display: inline-block; margin-left: 70px; ">
				<h3 style="position:relative; margin-top:6px; font-size: 24px;">
					질문 제목이 제목제목<small style="position:relative; display: block; font-size: 14px; font-weight: normal; color: grey;">사용자 이름이름<span>  |   20200202</span></small>
				</h3>
			</div>
			
			<p class="question">제가 언어를 처음 배우는데, 이렇게 코드를 작성했더니 오류가 나요. 왜이러는 걸까요?
				내용이 길어지는 경우는 이렇게 처리하면 될 것 같긴 한데 아무래도 틀렸나 봅니다 도움 구해봅니다!
			</p>

			<div>
				<img style="position:absolute; display: inline-block; width: 25px; height: 25px; margin-top:90px; margin-left: 5px;" src="Plain_Yellow_Star.png">
				<p style="position:absolute; display:inline-block; color:#c1ba00; font-size: 20px; margin-top: 88px; margin-left: 35px;">
					86
				</p>
			</div>
		
		</span>
	</div>

	<div class="box1-group" style="margin-top: 10px;">
		<span class ="box1">
			<img class="profile" src="1.jpg" style=" border-radius: 8px; margin-left: 5px; margin-top: 5px;">
			<div style="display: inline-block; margin-left: 70px; ">
				<h3 style="position:relative; margin-top:6px; font-size: 24px;">
					질문 제목이 제목제목<small style="position:relative; display: block; font-size: 14px; font-weight: normal; color: grey;">사용자 이름이름<span>  |   20200202</span></small>
				</h3>
			</div>
			
			<p class="question">제가 언어를 처음 배우는데, 이렇게 코드를 작성했더니 오류가 나요. 왜이러는 걸까요?
				내용이 길어지는 경우는 이렇게 처리하면 될 것 같긴 한데 아무래도 틀렸나 봅니다 도움 구해봅니다!
			</p>

			<div>
				<img style="position:absolute; display: inline-block; width: 25px; height: 25px; margin-top:90px; margin-left: 5px;" src="Plain_Yellow_Star.png">
				<p style="position:absolute; display:inline-block; color:#c1ba00; font-size: 20px; margin-top: 88px; margin-left: 35px;">
					86
				</p>
			</div>
		
		</span>

		<span class ="box1" style="margin-left: 15px;">
			<img class="profile" src="1.jpg" style=" border-radius: 8px; margin-left: 5px; margin-top: 5px;">
			<div style="display: inline-block; margin-left: 70px; ">
				<h3 style="position:relative; margin-top:6px; font-size: 24px;">
					질문 제목이 제목제목<small style="position:relative; display: block; font-size: 14px; font-weight: normal; color: grey;">사용자 이름이름<span>  |   20200202</span></small>
				</h3>
			</div>
			
			<p class="question">제가 언어를 처음 배우는데, 이렇게 코드를 작성했더니 오류가 나요. 왜이러는 걸까요?
				내용이 길어지는 경우는 이렇게 처리하면 될 것 같긴 한데 아무래도 틀렸나 봅니다 도움 구해봅니다!
			</p>

			<div>
				<img style="position:absolute; display: inline-block; width: 25px; height: 25px; margin-top:90px; margin-left: 5px;" src="Plain_Yellow_Star.png">
				<p style="position:absolute; display:inline-block; color:#c1ba00; font-size: 20px; margin-top: 88px; margin-left: 35px;">
					86
				</p>
			</div>
		
		</span>
		
		<span class ="box1" style="margin-left: 15px;">
			<img class="profile" src="1.jpg" style=" border-radius: 8px; margin-left: 5px; margin-top: 5px;">
			<div style="display: inline-block; margin-left: 70px; ">
				<h3 style="position:relative; margin-top:6px; font-size: 24px;">
					질문 제목이 제목제목<small style="position:relative; display: block; font-size: 14px; font-weight: normal; color: grey;">사용자 이름이름<span>  |   20200202</span></small>
				</h3>
			</div>
			
			<p class="question">제가 언어를 처음 배우는데, 이렇게 코드를 작성했더니 오류가 나요. 왜이러는 걸까요?
				내용이 길어지는 경우는 이렇게 처리하면 될 것 같긴 한데 아무래도 틀렸나 봅니다 도움 구해봅니다!
			</p>

			<div>
				<img style="position:absolute; display: inline-block; width: 25px; height: 25px; margin-top:90px; margin-left: 5px;" src="Plain_Yellow_Star.png">
				<p style="position:absolute; display:inline-block; color:#c1ba00; font-size: 20px; margin-top: 88px; margin-left: 35px;">
					86
				</p>
			</div>
		
		</span>
	</div>

	
</body>
</html>