<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>개발자의숲</title>
        <link rel="stylesheet" type="text/css" href="/css/mainPage.css">
    </head>
    <body style="background-color: #f3f3f3">
        <div class="notFound">
            <div class="back_info" style="">
          <span>
              <center><img src="https://dev-design.etnersplatform.com/img/loading_new.gif"></center>
              <p style="font-size: 12px">페이지를 찾을 수 없습니다.</p>
          </span>
                <button style='cursor:pointer' class="back_btn" onclick="window.history.back()">돌아가기</button></div>
        </div>
    </body>

</html>

<style>
    .notFound {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;">
    }
    .back_info {
        font-family: system-ui, serif;
        font-size: 2rem;
        padding: 3rem;
        border-radius: 1rem;
    }
    .back_btn {
        width: 100%;
        height: 50px;
        font-size: 20px;
        background-color: #3F3F3F;
        color: white;
        border-radius: 12px;
        border-style: none;
    }
    </style>